/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Body Styles */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #fff;
  background: url(https://images.pexels.com/photos/3974516/pexels-photo-3974516.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat fixed center center / cover;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

}

/* Page Styles */
.page {
  width: 100%;
  height: 100%;
}

/* Title Styles */
@keyframes paw {
    0% { background-position: 0 0; }
    100% { background-position: 50px 50px; }
}

@keyframes paw {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
}

.main__title {
    font-size: 3em;
    text-align: center;
    margin: 20px 0;
    color: #fff;
    position: relative;
}

.main__title::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    background: url('https://th.bing.com/th/id/R.cac7d66b493373ffa5f384ebb9c696f6?rik=xrw9I5zmYDNcxw&riu=http%3a%2f%2fclipart-library.com%2fimages_k%2fwhite-paw-print-transparent-background%2fwhite-paw-print-transparent-background-24.png&ehk=1ailnBPnf6FiunJHAOU6zIHd%2fTT4BPEIkfxeG25rSvs%3d&risl=&pid=ImgRaw&r=0') no-repeat center center;
    background-size: contain;
    animation: paw 5s linear;
}

/* Block: photo-section */
.photo-section {
    margin-bottom: 20px;
  }
  
  /* Element: photo-section__title */
  .photo-section__title {
    font-size: 1.5em;
    color: #007bff;
  }
  
  /* Element: photo-section__text */
  .photo-section__text {
    font-size: 1em;
    color: #fff;
  }
  
  /* Element: photo-section__link */
  .photo-section__link {
    color: #007bff;
  }
  
  /* Element: photo-section__image */
  .photo-section__image {
    max-width: 100%;
    height: auto;
  }
  
  /* Block: list-section */
  .list-section {
    margin-bottom: 20px;
  }
  
  /* Element: list-section__title */
  .list-section__title {
    font-size: 1.5em;
    color: #007bff;
  }
  
  /* Element: list-section__subtitle */
  .list-section__subtitle {
    font-size: 1.2em;
    color: red;
  }
  
  /* Element: list-section__list */
  .list-section__list {
    list-style-type: none;
    padding: 0;
  }
  
  /* Element: list-section__item */
  .list-section__item {
    margin-bottom: 10px;
  }
  
  /* Block: form-section */
  .form-section {
    margin-bottom: 20px;
  }
  
  /* Element: form-section__title */
  .form-section__title {
    font-size: 1.5em;
    color: #007bff;
  }
  
  /* Element: form-section__form */
  .form-section__form {
    display: flex;
    flex-direction: column;
  }
  
  /* Element: form-section__input */
  .form-section__input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  /* Element: form-section__button */
  .form-section__button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

/* Footer Styles */

footer {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    margin-top: auto;
    border-top: 1px solid #fff;
    width: 100%;
   

  
  }
  
  .footer__text {
    margin: 0;
  }
  
  .footer__link {
    color: #9cdf7c;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer__link:hover {
    color: #fff;
  }